<section class="container list">
  <!-- <h1 class="title">{{ .Title | singularize }}</h1> -->
  <ul class=>
    {{ range .Site.Data.products.products }}
    <li>
      <img class="product__image" src="{{ .image }}" alt="" style="width: 400px">
    </li>
    <li>
        {{ .name }}
    </li>
    <li>
      £{{ .price }}
    </li>
    <li>
      {{ .description }}
    </li>
    <li>
      <button
      class="snipcart-add-item buy-button"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}">
      Add to cart
    </button>
  </li>
    
    {{ end }}
  </ul>
  
  {{ partial "pagination.html" . }}
</section>
<!-- <span>{{ .Date.Format "January 2, 2006" }}</span><a href="{{ .Permalink }}">{{ .Title }}</a> -->
